/* 对于主页 index.html 的主要样式更改css文件 */

/* ---------- 导航条 ---------- */
/* 顶部导航条容器 */
.topbar-warpper{

    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #E3E4E5;
}

/* 导航条中选项设置 */
.topbar li{

    float: left;
}

/* 增加选项与左边的间距 */
.topbar ul:first-child{
    margin-left: 1rem;
}

/* 导航条超链接设置 */
.topbar li a{

    font-size: 14px;
    color: #A7A7A7;
    display: block;
}
.topbar li a:hover{

    color: #333;
}

/* 导航条分割线设置 */
.topbar .line{

    font-size: 12px;
    color: #A7A7A7;
    margin: 0 7px;
}
/* -------------------- */


/* ---------- 头部 ---------- */
/* 头部图案部分 */
.header{

    width: 100%;
    height: 225px;
    background-color: #333;
}

/* 标题部分 */
.heading{
    
    text-align: center;
    line-height: 225px;
    font-family: algerian;
    color: #fff;
    font-size: 5em;
}
/* -------------------- */


/* ---------- 侧边导航栏 ---------- */
/* 侧边导航栏标题设置 */
.sidebar h1{

    padding-left: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-shadow:1px 1px 1px #323232;
}

/* 侧边导航栏标题选中后，右侧添加一个井号反馈 */
.sidebar h1::after{

    content: '#';
    display: none;
}
.sidebar h1:hover::after{

    display: inline-block;
    margin-left: 1rem;
}

/* 侧边导航栏容器大小以及背景颜色 */
.sidebar-warpper {
    
    width: 20%;
    height: auto;
    background-color: #A7A7A7;
    float: left;
}

.sidebar {
    margin-top: 1rem;
    padding-top: 1rem;
}

/* 侧边导航栏超链接相关设置 */
.sidebar li a {

    display: block;
    padding: 0.5rem 0 0.5rem 3rem ;
    height: 2rem;
    line-height: 2rem;
}

/* 侧边导航栏选项选中反馈 */
.sidebar li:hover{

    background-color: #333;
    transition: all 1s;
}
.sidebar li:hover a{

    color: #A7A7A7;
    transition: all 1s;
}

/* -------------------- */