/* 对于主页 index.html 的主要样式更改css文件 */


/* ---------- 侧边导航栏 ---------- */
/* 侧边导航栏标题设置 */
.sidebar h1{

    padding-left: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-shadow:1px 1px 1px #323232;
}

/* 侧边导航栏标题选中后，右侧添加一个井号反馈 */
.sidebar h1::after{

    content: '#';
    display: none;
}
.sidebar h1:hover::after{

    display: inline-block;
    margin-left: 1rem;
}

/* 侧边导航栏容器大小以及背景颜色 */
.sidebar-warpper {
    
    width: 20%;

    height: calc(100% - 2rem);
    /* 这里的2rem为.sidebar 的 margin-top，减去才能正常撑满100% */

    background-color: #A7A7A7;
    float: left;
    padding-bottom: 2rem;
    /* 使得 main 高度被右边内容展示部分撑起时能够撑满 100% */
    /* 配合下面 main 选择器使用 */
    position: absolute;
    top: 0;
}
/* 使得 main 高度被右边内容展示部分撑起时能够撑满 100% */
/* 配合上面 position 和 top 设置使用 */
main{

    position: relative;
}

.sidebar {
    margin-top: 1rem;
    padding-top: 1rem;
}

/* 侧边导航栏超链接相关设置 */
.sidebar li a {

    display: block;
    padding: 0.5rem 0 0.5rem 3rem ;
    height: 2rem;
    line-height: 2rem;
}

/* 侧边导航栏选项选中反馈 */
.sidebar li:hover{

    background-color: #333;
    transition: all 1s;
}
.sidebar li:hover a{

    color: #A7A7A7;
    transition: all 1s;
}

/* -------------------- */


/* ---------- 内容展示部分 ---------- */
/* 内容展示容器设置 */
.display-warpper{

    width: 80%;
    height: 1000px;
    background-color: #E3E4E5;
    float: right;
}

/* 每项内容的底边边距设置 */
.display-part .dpeach{

    margin-bottom: 5rem;
}

/* 展示部分与侧边栏、顶部和底部的边距 */
.display-part{

    margin: 5rem 10rem 0 10rem;
}

/* 每项内容的标题设置 */
.display-warpper .dptitle{
    
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-bottom: 1rem;
}

/* 对于每项内容的超链接选中后下方内容的响应 */
.display-warpper a:hover{   

    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
}

/* 对于每项内容的超链接选中后标题的响应 */
.display-warpper a:hover .dptitle{

    font-size: 2rem;
    transition: all 0.5s;
}

/* 使超链接撑满父元素 */
.display-warpper a{

    display: block;
}

/* 每项内容下方详情的字体和颜色 */
.display-part .dpinfo{

    font-size: 1.2rem;
    color: #323232;
}
/* -------------------- */

