<!-- 网页顶部导航条复用文件 -->

<div class="topbar w clearfix">
    <ul class="service">
        <li><a href="/index.html">首页</a></li>
        <li class="line">|</li>
        <li><a href="/html/novels/index.html">小说</a></li>
        <li class="line">|</li>
        <li><a href="/html/articles/index.html">文章</a></li>
        <li class="line">|</li>
        <li><a href="javascript:;">弔图</a></li>
        <li class="line">|</li>
        <li><a href="javascript:;">图片</a></li>
        <li class="line">|</li>
        <li><a href="javascript:;">成员</a></li>
        <li class="line">|</li>
    </ul>
</div>